doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title a portal to another world
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(href="css/styles.css" rel="stylesheet" type='text/css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    
  body
    
    mixin work-link(title, image, webm, link)
      .info-container
        if title
          p(class='centered')= title
        if link
          if webm
            a(href=link): video(class='centered' src=image controls loop)
          else
            a(href=link): img(class='centered' src=image)
        else
          if webm
            video(class='centered' src=image autoplay loop)
          else
            img(class='centered' src=image)
        
    .main-container
      .nav-container
        ul(class='nav-main')
          li: a(href='/') home
          li(class='dropdown')
            a(class='active work' href='/work') work
            ul(class='dropdown-open')
              li: a(class='active' href='/visuals') visuals
              li: a(href='/renders') 3D renders
              li: a(href='/motion') motion graphics
              li: a(href='/installations') installations
              li: a(href='/coding') creative coding
              li: a(href='https://spacepunk.media') spacepunk.media
          li: a(href='/about') about
      
      .info-container
        p(class='centered') a visual series from a video performance at the Atlantis Lounge, Portland
      +work-link(false, '/images/atlantis-deep/img-00-min.png', false, '/images/atlantis-deep/img-00.png')
      +work-link(false, '/images/atlantis-deep/img-01-min.png', false, '/images/atlantis-deep/img-01.png')
      +work-link(false, '/images/atlantis-deep/img-02-min.png', false, '/images/atlantis-deep/img-02.png')
      +work-link(false, '/images/atlantis-deep/img-03-min.png', false, '/images/atlantis-deep/img-03.png')
      +work-link(false, '/images/atlantis-deep/img-04-min.png', false, '/images/atlantis-deep/img-04.png')
      +work-link(false, '/images/atlantis-deep/img-05-min.png', false, '/images/atlantis-deep/img-05.png')
      +work-link(false, '/images/atlantis-deep/img-06-min.png', false, '/images/atlantis-deep/img-06.png')
      
      
  script(src='javascripts/script.js')
